@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background-color: gainsboro;
}

#main-container{
    display: flex;
    justify-content: center;
}

#main-body{
    background-color: lightblue;
    width: 900px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#upper-body{
    background-color: #213555;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#btn-section button{
    background-color: #4F709C;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: poppins;
}

#table{
    border-collapse: collapse;
}

#table th{
    background-color:#4F709C;
    color: white;
    font-weight: bold;
    width: 150px;
}

#table tr{
    text-align: center;
    height:50px;
}

#table tr:nth-child(even){
    background-color: white;
}

#table tr:nth-child(odd){
    background-color: #f2f2f2;
}


#total-section{
    background-color: #4F709C;
    color: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#total-section div{
    margin-right: 30px;
    margin-left: 30px;
}





.popup{
    background-color: white;
    border: 1px black solid;
    width: 400px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.header{
    display: flex;
    background-color: #213555;
    color: white;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.header h1{
    margin: 0;
}

.form form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.form input{
    margin-bottom: 10px;
    height: 25px;
    font-size: 20px;
}

.form{
    font-size: 18px;
}

.footer button{
    border: none;
    background-color: #213555;
    color: white;
    height: 35px;
    width: 100px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.id-section{
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: 18px;
}

.id-section input{
    margin-bottom: 10px;
    height: 25px;
    font-size: 20px;   
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}